.logo {
  font-family: "Museo Sans Cyrl 900", "Arial", sans-serif;
  font-size: 30px;
  color: @cherry;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo__dot {
  color: black;
}
