.contacts {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.6px;
  align-self: center;
  font-family: "Gilroy Regular", "Arial", sans-serif;
}

.contacts .contacts__number {
  padding-bottom: 4px;
}

.contacts .contacts__call {
  border: none;
  padding: 0px;
  background-color: transparent;
  color: @red;
  border-bottom: 1px solid @red;
  letter-spacing: 0.8px;
  padding-bottom: 3px;
}
